@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
header {
    position: absolute;
    background: #D1A506;
    top: 0;
    left: 0;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
  }
  
  header .logo {
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-family: 'Inknut Antiqua';
    font-weight: bold;
  }

  span.in{
    color: #FBFF31;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  header nav ul li a {
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
    font-family: 'Inter';
  }
  
  header nav ul li a:hover,
  header nav ul li a.active {
    color: yellow;

  }
  
  @media (max-width: 500px) {
    header {
        padding: 0 20px;
    }
  
    .menu-toggle {
        display: block;
    }
  
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }
  
    header nav.active {
        left: 0;
    }
  
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }
  }

body{
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom,
    #F2C46C 0%,
    #F2C46C 55%,
    #FFFFFF 55%,
    #FFFFFF 100%
  );
  height: 100vh;
    margin: 30px 0 0;
    justify-content: center;
    align-items: center;
}
.container{
  width: 45%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.button-head{
  height: 30px;
}
.back{
  padding-top: 50px;
  margin-left: 30px;
}
.back a{
  color: #ffff;
}
.cart-empty{
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.card{
  border-radius: 15px;
  height: 400px;
  background-color: #ffff;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.head-card {
    padding: 20px;
    padding-bottom: 10px;
    line-height: 0.5;
}
.text{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: 0.8;
}
.head-card img {
    width: 60%;
    height: 210px;
    object-fit: cover;
}
.head-card p{
  font-weight: bold;
}
.head-card h1{
  font-size: 55px;
}