@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Leckerli+One&display=swap');

body{
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
  overflow-x: hidden;
  z-index: 1;
}

section{
  display: block;
  position: relative;
  margin: auto;
  padding: 30px 0 30px 0;
}

header {
    position: fixed;
    background: #D1A506;
    top: 0;
    left: 0;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
  }
  
  header .logo {
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-family: 'Inknut Antiqua';
    font-weight: bold;
  }

  span.in{
    color: #FBFF31;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
  }
  
header nav ul li a:hover{
  color: yellow;
}

header nav ul li a {
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
    font-family: 'Inter';
  }
  
header nav ul li a:hover
header nav ul li a.active {
    color: black;
  }

#color-top{
  background: #F2C46C;
}

.sec-block{
  display: block;
  position: relative;
  margin: auto;
  padding: 170px 0;
  z-index: -1;
}
/* word "dont miss the discount "*/
.text-discount{
  font-family: 'Poppins', sans-serif;
  background-color: white;
  position: absolute;
  top: 100px;
  border-radius: 5px;
}

.text-discount p{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  height: 30px;
  width: 350px;
  text-transform: capitalize;
}

.sec-block .sp-b{
  justify-content: space-between;
  display: flex;
}

.sec-block .card{
  max-width: 540px; 
  border-radius: 20px; 
  background-color: #D1A506;
}

#color-top .card img{
  border-radius: 20px; 
  object-fit: cover;
}
/* body background whites */
#color-top .card-body{
  height: 350px; 
  background-color: white; 
  border-radius: 20px;
}

#color-top .card-title{
  font-family: 'Leckerli One';
  color: #D1A506;
  font-size: 24px;
  padding-bottom: 30%;
  margin: 10px;
}

#color-top .card-body .card-text:nth-of-type(1){
  text-decoration: line-through;
}

#color-top .card-text{
  font-size: 28px;
  color: black;
  font-family: 'Poppins', sans-serif;
}
/* line ireng */
#color-top .card .line{
  width: 125px; 
  height: 1px; 
  background-color: black; 
  margin: auto;
}
/* menu bawah */

.main{
  justify-content: space-between;
  display: flex;
  margin: 25px;
}

.main h1{
  padding: 10px 50px 10px 50px;
  background-color: #F0BC58;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
}

h1:nth-child(2){
  margin-top: 10px;
}

.body{
  z-index: -1;
  position: relative;
  border-radius: 20px;
  width: 620px;
  height: 230px;
  background-color: #D0A406;
  margin: 20px;
  display: inline-block;
}

.pict-left img{
  border-radius: 10px;
  margin: 14px;
  width: 205px;
  height: 200px;
  position: absolute;
}

.text-left{
  position: absolute;
  left: 14em;
  background-color: white;
  width: 349px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  font-weight: 400;
}

.title-left{
  padding: 14px;
  font-size: 18px;
  font-family: 'Leckerli One';
  color: #D1A506;
}

#statement-left{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.price-left{
  width: 120px;
  height: 45px;
  position: absolute;
  margin: 10px;
  border-radius: 10px;
  left: 18em;
  top: 10em;
  background-color: white;
}

<<<<<<< HEAD
/* menu bawah */
#desc{
  width: 100%;
  background: white;
  padding: 80px;
  display: flex;
  text-align: center;
  color: black;
  font-family: Poppins;
  justify-content: space-between;
=======

.button-left{
  text-decoration: none;
  width: 150px;
  height: 45px;
  background-color: white;
  margin: 10px;
  position: absolute;
  left: 27em;
  top: 10em;
  border-radius: 10px;
}

.p-button-left{
  position: absolute;
  left: -2em;
}

svg{
  width: 35px;
  height: 35px;
}

.button-left li{
  list-style: none;
  float: left;
}

.button-left ul{
  top: -0.6em;
  left: -1em;
  position: absolute;
}

.p-button-left p{
  font-size: 12px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-align: center;
}

/* right */

.pict-right img{
  border-radius: 10px;
  margin: 14px;
  width: 205px;
  height: 200px;
  position: absolute;
  right: -0em;
}

.text-right{
  position: absolute;
  right: 14em;
  background-color: white;
  width: 349px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  font-weight: 400;
}

.title-right{
  padding: 14px;
  font-size: 18px;
  font-family: 'Leckerli One';
  color: #D1A506;
}

#statement-right{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.price-right{
  width: 120px;
  height: 45px;
  position: absolute;
  margin: 10px;
  border-radius: 10px;
  right: 18em;
  top: 10em;
  background-color: white;
}

.button-right{
  text-decoration: none;
  width: 150px;
  height: 45px;
  background-color: white;
  margin: 10px;
  position: absolute;
  right: 27em;
  top: 10em;
  border-radius: 10px;
}

.p-button-right{
  position: absolute;
  right: -2em;
}

.button-right li{
  list-style: none;
  float: right;
}

.button-right ul{
  top: -0.6em;
  left: -1em;
  position: absolute;
}

.p-button-right p{
  font-size: 12px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.sec-block p:nth-of-type(1){
  text-decoration: line-through;
>>>>>>> 859312af2437c62c06ebd0e9df527e8e696f4658
}

#desc p{
  font-size: 30px;
  font-weight: 600;
}

#desc .desc{
  width: 160px;
  height: 60px;
  background: #F0BC58;
} 

#desc .desc:nth-last-child(2){
  margin-top: -30px;
}

#grid-1{
  background: #F2C46C;
}

#grid-3{
  background: #F2C46C;
}
/* line in grid 4 */
#grid-4 .line{
  width: 75%; 
  margin: auto;
  margin-top: 2em;
  height: 1px; 
  background: black;
  font-weight: 800;
}

.sec-block2{
  z-index: -1;
}

.container{
  display: flex;
  
}

.card-body h5{
  font-family: 'Leckerli One';
  color: #D1A506;
  font-size: 20px;
}

.card-body .card-text{
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.card{
  margin: 15px;
}
/* increment */

.qty button{
  outline: none;
  border: none;
  padding: 4px 10px 4px 10px;
  margin: 0;
  background-color: black;
  color: white;
  border-radius: 20%;
}

.qty{
  width: 150px;
  height: 45px;
  background: white;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.value{
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 5px;
  background: black;
  margin-top: 6px;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
}

.price{
  position: absolute;
  top: 80%;
  left: 67%;
  text-align: center;
  width: 120px;
  height: 45px;
  border-radius: 10px;
  border: none;

}

.container .card:nth-last-child(1) .price{

  position: absolute;
  top: 80%;
  left: 8%;
  text-align: center;
  width: 120px;
  height: 45px;
  border-radius: 10px;
  border: none;
}

svg{
  width: 35px;
  height: 35px;
}

.add-cart{
  text-align: center;
  margin: 20px;
}

.add-cart button{
  width: 200px;
  height: 60px;
  font-family: poppins, sans-serif;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  border: none;
  background:  #F0BC58;
  font-size: 28px;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}

.add-cart button:hover{
  background: #d1a506;
  color: black;
}
<<<<<<< HEAD
=======
  
  /* responsive */
  
@media (max-width: 500px) {
  header {
        padding: 0 20px;
    }
  
  .menu-toggle {
        display: block;
    }
  
  header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }
  
  header nav.active {
        left: 0;
    }
  
  header nav ul {
        display: block;
        text-align: center;
    }
  header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }
}
>>>>>>> 859312af2437c62c06ebd0e9df527e8e696f4658
